<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        h2{font-size: 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p, li{font-size: 16px; text-align: center;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to the best website ever!</h1>
    
    <p><strong>Age: <%= data.age%> Job: <%= data.job%> </strong></p>
    <p> Hello <%= person %> </p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>
</html>